<!DOCTYPE html>
<html lang="en">

<%- include('naglowek', {});  %>


<body id="page-top">

    <%- include('menu', menu);  %>

    <header class="masthead2">
        <div class="container h-10">
    
            <div class="row h-100 align-items-center justify-content-center text-center">
                <div class="col-lg-10">
                    <h2 class="text-uppercase text-white font-weight-bold">Wyszukaj użytkownika</h2>
                    <br><br>
                       <form action="/strazacy/<%=idJednostki%>/znajdz" method="POST">

<div class="form-row">
<div class="form-group col-md-1"></div>

<div class="form-group col-md-8">


  <input type="login" class="form-control " id="login" name="login" placeholder="Podaj login szukanego">
  </div>
  <div class="form-group col-md-3">
 
     <button type="submit" class="btn btn-lg btn-primary js-scroll-trigger">Wyszukaj</button>
</div>
</div>

</form>
<br><br>               
                
    
</div>
   
            </div>
        </div>
    </header>
    
</body>
</html>
