<!DOCTYPE html>
<html lang="en">

<%- include('naglowek', {});  %>

<body id="page-top">
    <%- include('menu', menu);  %>

<header class="masthead2">
    <div class="container h-10">
        <div class="row h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-10 align-self-end">
                <h1 class="text-uppercase text-white font-weight-bold">dane zmienione</h1>
                <hr class="divider my-4" />
                <a class="btn btn-primary btn-xl js-scroll-trigger" href="#">Powrót</a>
            </div>
           
        </div>
    </div>
</header>

</body>
</html>
