<!DOCTYPE html>
<html lang="en">

<%- include('naglowek', {});  %>

<body id="page-top">
    <%- include('menu', menu);  %>


    <header class="masthead2">
        <div class="container h-10">

            <div class="row h-100 align-items-center justify-content-center text-center">
                <div class="col-lg-10">
                    <form>

                        <div class="form-row">
                            <div class="form-group col-md-1">
                                <h3 class="text-uppercase text-white font-weight-bold">Opis:</h3>
                            </div>

                            <div class="form-group col-md-11">
                                <h2 class="text-uppercase text-white font-weight-bold"> Tu będzie opis alarmu</h2>
                                <hr class="divider my-4" />
                            </div>
                            <table class="table text-white">
                                <thead class="thead-light">
                                    <tr>
                                        <th>Imię</th>
                                        <th>Nazwisko</th>
                                        <th>Godzina odpowiedzi</th>
                                        <th>Status</th>
                                        <th>Lokalizacja</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for(var i=0;i<listaWezwanych.length;i++){ %>   
                                    <tr>
                                        <td><%= listaWezwanych[i].imie %></td>
                                        <td><%= listaWezwanych[i].nazwisko%></td>
                     

                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <%}%>

                                </tbody>
                            </table>

                    </form>
                    <br><br>


                </div>

            </div>
        </div>
    </header>

</body>

</html>